* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins";
}

/* common */
.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.btn {
    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    border-radius: 40px;
    background-color: #143c3c;
    padding: 14px 52px;
    margin-left: 50px;
}

.btn:hover {
    opacity: 0.9;
}

.sub__heading {
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    position: relative;
    margin-left: 41px;
}

.sub__heading::before {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    position: absolute;
    top: 9px;
    left: -41px;
    background: #152427;
}

.heading__section {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.244;
    position: relative;
    width: 520px;
}

.team__text {
    color: #152427;
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.header {
    padding-top: 28px;
}

.header-top {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    position: relative;
}

.navbar__item a {
    margin-right: 38px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__item::after {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    top: 45px;
    left: 2px;
    height: 2px;
    background: #143c3c;
    transition: 0.25s;
}

.navbar__item:hover a {
    color: #152427;
}

.navbar__item:hover::after {
    width: 16px;
}

.active a {
    color: #152427;
}

.active::after {
    content: " ";
    display: block;
    position: absolute;
    width: 16px;
    top: 45px;
    left: 2px;
    height: 2px;
    background: #143c3c;
    transition: 0.25s;
}

hr {
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    border: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    position: relative;
}

.hero__content {
    width: 35%;
}

.hero__heading {
    color: #152427;
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    width: 376px;
}

.hero__desc {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-top: 20px;
}

.hero__action {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.action__btn {
    margin-left: 0;
    padding-right: 35px;
    padding-left: 35px;
}

.hero__icon {
    position: relative;
    margin-left: 43px;
}

.eclipse {
    position: absolute;
    top: -7px;
    left: -8px;
}

.action__desc {
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 15px;
    line-height: 1.67;
}

.hero__media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    flex-grow: 1fr;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.extra_avstract {
    position: absolute;
    top: -24.39px;
    left: 254.61px;
    z-index: 1;
}

.extra_avstract2 {
    position: absolute;
    right: 6.2px;
    top: 502.06px;
    z-index: 1;
}

.active_line {
    position: absolute;
    top: -32.07px;
    left: 297px;
}

.active_line2 {
    position: absolute;
    right: 45.64px;
    top: 266px;
}

.logo {
    margin-top: 130px;
}

.logo__inner {
    border-radius: 100.5px;
    background: #e2eddf;
    padding: 76px 121px;
}

.logo__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__item {
    display: flex;
    align-items: center;
}

.logo__item:first-child a {
    color: #143c3c;
    font-size: 3.1rem;
    font-weight: 500;
    vertical-align: middle;
}

.logo__item:nth-child(2) a {
    color: #143c3c;
    font-size: 3.2rem;
    font-weight: 600;
    vertical-align: middle;
}

.slack {
    margin-right: -5px;
    vertical-align: middle;
}

.logo__item:nth-child(3) a {
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
    vertical-align: middle;
}

.discord {
    margin-right: 11px;
    vertical-align: middle;
}

.logo__item:nth-child(4) a {
    color: #143c3c;
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.logo__item:last-child a {
    color: #143c3c;
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
    vertical-align: middle;
}

.heroku {
    vertical-align: middle;
}

.service {
    margin-top: 106px;
}

.service-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.service__heading {
    margin-top: 12px;
}

.service__heading::after {
    content: "";
    display: block;
    height: 2px;
    width: 66px;
    background: #152427;
    position: absolute;
    bottom: 19px;
    right: 103px;
}

.service__action {
    display: flex;
    gap: 17px;
}

.service__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #e2eddf;
    border-radius: 50%;
    color: #152427;
    margin-bottom: 9px;
}

.service__btn:last-child {
    transform: scaleX(-1);
}

.service__btn:hover {
    background: #143c3c;
    color: #fff;
}

.service-list {
    display: grid;
    margin-top: 76px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service__item {
    width: 370px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    transition: 0.25s;
}

.service__thumb {
    width: 370px;
    height: 318px;
    object-fit: cover;
}
.content__item {
    padding: 24px 0 23px;
}

.service__item:hover {
    border-radius: 20px;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item:hover .content__item {
    padding-left: 18px;
}

.heading__item {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.desc__item {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    margin-top: 18px;
    width: 268px;
}

.about {
    margin-top: 157px;
}

.about__inner {
    display: flex;
    gap: 64px;
}

.about__media {
    display: flex;
    gap: 21px;
    position: relative;
    width: 52%;
}

.about__thumb {
    width: 286px;
    height: 480px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__thumb:first-child {
    margin-top: 90px;
}

.about__thumb:last-child {
    position: relative;
}

.about__avstract {
    position: absolute;
    top: -18px;
    left: 46px;
    z-index: 1;
}

.about__line {
    position: absolute;
    top: 20.11px;
    left: 84.23px;
}

.card {
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    position: absolute;
    padding: 19px 17px 11px;
    left: 457px;
    bottom: 8px;
}

.card__heading {
    color: #152427;
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.card__desc {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 6px;
}

.card__rate {
    margin-top: 10px;
}

.card__rectangle {
    width: 96px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #eaeaea;
    position: relative;
    margin-top: 3px;
}

.card__rectangle::before {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #83a17d;
    top: 0;
    left: 0;
}

.card__rectangle::after {
    content: "Loding...";
    color: #152427;
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    position: absolute;
    top: 3px;
    left: 57px;
}

.dot {
    margin-top: 20px;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.avatar {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #fff;
    object-fit: cover;
}

.avatar:not(:last-child) {
    margin-right: -7px;
}

.about__content {
    flex-grow: 1fr;
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    width: 478px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    margin-top: 11px;
}

.cowndown {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    margin-top: 36px;
}

.cowndown__rate {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.cowndown__desc {
    width: 364px;
    color: #7d8188;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
}

.cowndown::after {
    content: "";
    display: block;
    width: 485px;
    height: 1px;
    background-color: #83a17d;
    position: absolute;
    bottom: -20px;
}

.proccess {
    margin-top: 79px;
    padding: 36px 0 25px;
}

.proccess__heading {
    margin-top: 20px;
}

.proccess__heading::after {
    content: "";
    display: block;
    height: 2px;
    width: 66px;
    background: #152427;
    position: absolute;
    bottom: 18px;
    left: 420px;
}

.proccess__content {
    margin-top: 81px;
    position: relative;
}

.proccess__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
}

.proccess__item:hover {
    border-radius: 33px;
    background: #e2eddf;
    height: 185px;
}

.proccess__active {
    border-radius: 33px;
    background: #e2eddf;
    height: 185px;
}

.proccess__item:not(:first-child) {
    margin-top: 46px;
}

.proccess__item:not(:first-child)::after {
    content: "";
    display: block;
    width: 1131px;
    height: 3px;
    flex-shrink: 0;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    position: absolute;
    bottom: -21px;
}

.proccess__item:hover::after {
    width: 0;
}

.numerical {
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.7;
}

.proccess__more {
    position: absolute;
    left: 156px;
}

.proccess__title {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.proccess__item:not(:first-child) .proccess__title {
    position: absolute;
    left: 156px;
}

.proccess__link {
    display: block;
    color: #575d5e;
    font-size: 1.8rem;
    line-height: 18px;
    text-decoration: underline;
    margin-top: 22px;
}

.proccess__desc {
    width: 572px;
    color: #7d8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-right: 41px;
    margin-left: auto;
}

.proccess__img {
    width: 450px;
    height: 444px;
    position: absolute;
    top: -259px;
    right: 92px;
}
