* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins";
}

/* common */
.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.btn {
    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    border-radius: 40px;
    background-color: #143c3c;
    padding: 14px 52px;
    margin-left: 50px;
}

.btn:hover {
    opacity: 0.9;
}

.header {
    padding-top: 28px;
}

.header-top {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    position: relative;
}

.navbar__item a {
    margin-right: 38px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__item::after {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    top: 45px;
    left: 2px;
    height: 2px;
    background: #143c3c;
    transition: 0.25s;
}

.navbar__item:hover a {
    color: #152427;
}

.navbar__item:hover::after {
    width: 16px;
}

.active a {
    color: #152427;
}

.active::after {
    content: " ";
    display: block;
    position: absolute;
    width: 16px;
    top: 45px;
    left: 2px;
    height: 2px;
    background: #143c3c;
    transition: 0.25s;
}

hr {
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    border: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    position: relative;
}

.hero__content {
    width: 35%;
}

.hero__heading {
    color: #152427;
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    width: 376px;
}

.hero__desc {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-top: 20px;
}

.hero__action {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.action__btn {
    margin-left: 0;
    padding-right: 35px;
    padding-left: 35px;
}

.hero__icon {
    position: relative;
    margin-left: 43px;
}

.eclipse {
    position: absolute;
    top: -7px;
    left: -8px;
}

.action__desc {
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 15px;
    line-height: 1.67;
}

.hero__media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    flex-grow: 1fr;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.extra_avstract {
    position: absolute;
    top: -24.39px;
    left: 254.61px;
    z-index: 1;
}

.extra_avstract2 {
    position: absolute;
    right: 6.2px;
    top: 502.06px;
    z-index: 1;
}

.active_line {
    position: absolute;
    top: -32.07px;
    left: 297px;
}

.active_line2 {
    position: absolute;
    right: 45.64px;
    top: 266px;
}

.logo {
    margin-top:130px;
}

.logo__inner {
    border-radius: 100.5px;
    background:  #e2eddf;
    padding: 76px 121px;
}

.logo__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__item {
    display: flex;
    align-items: center;
}

.logo__item:first-child {
    color: #143c3c;
    font-size: 3.1rem;
    font-weight: 500;
    vertical-align: middle;
}

.logo__item:nth-child(2) {
    color: #143c3c;
    font-size: 3.2rem;
    font-weight: 600;
    vertical-align: middle;
}

.slack {
    margin-right: -5px;
    vertical-align: middle;
}

.logo__item:nth-child(3) {
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.discord {
    margin-right: 11px;
}

.logo__item:nth-child(4) a {
    color: #143c3c;
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.logo__item:last-child {
    color: #143c3c;
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}
